@font-face {
    font-family: Minecraftia;
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/MinecraftRegular.otf') format("opentype");
}

@font-face {
    font-family: Minecraftia;
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/MinecraftItalic.otf') format("opentype");
}

@font-face {
    font-family: Minecraftia;
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/MinecraftBold.otf') format("opentype");
}

@font-face {
    font-family: Minecraftia;
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/MinecraftBoldItalic.otf') format("opentype");
}